.u-section-1 .u-sheet-1 {
  min-height: 570px;
}

.u-section-1 .u-shape-1 {
  width: 228px;
  height: 228px;
  animation-duration: 1000ms;
  margin: 248px auto 0 190px;
}

.u-section-1 .u-form-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  height: 263px;
  width: 570px;
  background-image: none;
  margin: -322px auto 60px;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  background-image: none;
  border-style: none;
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-shape-1 {
    margin-left: 112px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }

  .u-section-1 .u-form-group-1 {
    width: 100%;
  }

  .u-section-1 .u-form-group-2 {
    width: 100%;
  }

  .u-section-1 .u-form-group-3 {
    width: 100%;
  }

  .u-section-1 .u-form-group-4 {
    width: 100%;
  }
}